# python
__pycache__/
*.pyc
.venv/
.env
*.log
*.egg-info/
.dist/

# node/web
node_modules/
.next/
dist/


# misc
.DS_Store
.idea/
.vscode/

venv/
.env.local
.env.development.local

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
terraform.tfvars
